.footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: inline-block;   /* Shrink to fit content */
    text-align: left;        /* Left-align the text inside */
}

.footer-text {
    margin: 5px 0;          /* Add some space between lines */
    font-family: "Poppins", sans-serif;
    font-size: 2vh;
}
.footer-title{
    font-size:4vh;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .footer-text {
        font-size: 2vh;      /* Adjust font size for smaller screens */
    }
    .footer-title{
        font-size:5vh;
    }
    
}